{% extends "layout.html" %}

{% block page_title %}最美书法网{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="wap-work-images clearfix">
         {% for work in works %}
            <div class="work-image">
               <img src="{{ work.images[0].image }}?imageView2/1/w/360/h/300/interlace/1/q/100/format/png"
                    class="img-responsive" alt=""/>
               <a class="cover" href="{{ url_for('work.view', uid=work.id) }}">
                  {{ work.title }}
               </a>
            </div>
         {% endfor %}
      </div>
   </div>
{% endblock %}