.wap-work-images .work-image {
  position: relative;
  width: 240px;
  height: 200px;
  float: left;
  margin: 0 5px 5px 0;
}
.wap-work-images .work-image .cover {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  display: block;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 240px;
  height: 200px;
  z-index: 100;
  opacity: 0;
  font-size: 20px;
  font-family: 'PT Serif';
  color: white;
  background-color: #000000;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.wap-work-images .work-image:hover .cover {
  opacity: 0.9;
  cursor: pointer;
  color: white;
}
